.swiper-pagination {
    &.swiper-pagination-bullets {
        @include flex(row, center, center);
        width: 100%;
        bottom: 20px;
        &.swiper-pagination-bullets-dynamic {
            width: 70px !important;
        }
        & span {
            display: block;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            background: $dark-900;
            opacity: 1;
            flex-shrink: 0;
            &:nth-child(n) {
                margin: 0;
            }
            &:not(:last-child) {
                margin-right: 10px;
            }
            &.swiper-pagination-bullet-active {
                background: $dark-700;
            }
        }
    }
}