@font-face {
    font-family: 'Exo 2.0';
    src: url('Exo20-Bold.woff2') format('woff2'),
        url('Exo20-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

