// VARIABLES
$form-input-br: 8px;

.form {
    &__btn {
        width: 100%;
    }
    &__note {
        margin: 0;
        margin-top: 15px;
        text-align: center;
        font-size: 1.4rem;
        color: $dark-700;
        &_align {
            &-left {
                text-align: left;
            }
        }
        & a {
            text-decoration: none;
            color: $primary;
            &:hover {
                opacity: .85;
            }
        }
    }
    &__input {
        width: 100%;
        height: 60px;
        border: 1px solid $primary-800;
        background: $white;
        border-radius: $form-input-br;
    }
    &__textarea {
        height: 130px;
        padding: 15px;
    }
    &__icons {
        @include flex(row, center);
        & img {
            &:not(:last-child) {
                margin-right: 25px;
            }
            &:first-child {
                margin-right: auto;
            }
        }
    }
    &__row {
        @include flex(row, stretch);
        flex-wrap: wrap;
        &:not(:last-child) {
            margin-bottom: 25px;
        }
        &:first-child {
            margin-bottom: 0;
        }
    }
    &__radio {
        width: 92.5px;
        height: 60px;
        margin-right: 15px;
        margin-bottom: 25px;
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
    &__value {
        &-input {
            width: calc(100% - 92.5px - 15px);
            text-align: center;
            &::-webkit-input-placeholder {
                font-weight: 500;
            }
            &::-moz-placeholder {
                font-weight: 500;
                opacity: 1;
            }
            &:-moz-placeholder {
                font-weight: 500;
                opacity: 1;
            }
            &:-ms-input-placeholder {
                font-weight: 500;
            }
            &:focus::-webkit-input-placeholder {
                color: transparent;
            }
            &:focus::-moz-placeholder {
                color: transparent;
            }
            &:focus:-moz-placeholder {
                color: transparent;
            }
            &:focus::-ms-input-placeholder {
                color: transparent;
            }
        }
    }
    &__sub {
        &-title {
            display: block;
            margin: 0;
            font-size: 2.4rem;
            font-weight: 600;
            color: $primary;
            margin-bottom: 20px;
        }
    }
    &__unsubscribe {
        margin-top: 30px;
    }
}

// MEDIA
@media screen and (max-width: 1199px) {
    .form {
        &__radio {
            width: calc((100% - 40px) / 3);
            &:nth-child(n) {
                margin-right: 20px;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
        &__value {
            &-input {
                width: calc(100% / 3);
                flex: 1 1 auto;
            }
        }
        &__unsubscribe {
            margin-top: 0;
        }
    }
}
@media screen and (max-width: 991px) {
    .form {
        &__radio {
            height: 55px;
            width: calc((100% - 40px) / 3);
            &:nth-child(n) {
                margin-right: 20px;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
        &__value {
            &-input {
                width: calc(100% / 3);
                flex: 1 1 auto;
                height: 55px;
            }
        }
        &__note {
            font-size: 1.2rem;
        }
        &__sub-title {
            font-size: 2rem;
        }
    }
}
@media screen and (max-width: 575px) {
    .form {
        &__btn {
            &.btn {
                padding: 1.2em 1em;
            }
        }
    }
}