.make-help-form {
    &__radio {
        &:nth-child(n) {
            width: 100px;
            margin: 0;
            margin-right: 20px;
            margin-bottom: 30px;
        }
        &:nth-child(4) {
            margin-right: 0;
        }
    }
    & .form {
        &__value {
            &-input {
                width: 100%;
            }
        }
    }
}

// MEDIA
@media screen and (max-width: 1199px) {
    .make-help-form {
        &__radio {
            &:nth-child(n) {
                width: calc((100% - 40px) / 3);
                margin-right: 20px;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
        & .form {
            &__value {
                &-input {
                    width: calc((100% - 20px)/3);
                }
            }
        }
    }
}