// VARIABLES
$media-swiper-img-br: 10px;

.media-swiper {
    &__wrapper {
        padding-right: 45px;
    }
    &__footer {
        @include flex(row, center);
        margin-top: 35px;
    }
    &__link {
        @include flex(row, center);
        text-decoration: none;
        font-size: 2rem;
        color: $primary;
        font-weight: 500;
        & svg {
            flex-shrink: 0;
            margin-left: 15px;
        }
        &:hover {
            opacity: .85;
        }
    }
    &__navigation {
        margin-left: auto;
    }
    &__img {
        border-radius: $media-swiper-img-br;
    }
    &__instance {
        &.swiper-3d {
            & .swiper-slide-shadow {
                display: none;
            }
        }
        &.swiper-cards {
            overflow: hidden;
        }
        &-slide {
            &.swiper-slide-visible + .swiper-slide-next {
                // transform: translate3d(calc(7.25% - 413px), 0px, -100px) rotateZ(0deg) scale(1) !important;
            }
        }
    }
}

// MEDIA
@media screen and (max-width: 991px) {
    .media-swiper {
        &__wrapper {
            padding-right: 0;
        }
        &__footer {
            margin-top: 20px;
        }
        &__link {
            font-size: 1.4rem;
        }
    }
}