// VARIABLES
$media-swiper-img-br: 10px;

.media-swiper {
    // &__wrapper {
    //     padding-right: 45px;
    // }
    &__footer {
        @include flex(row, center);
        margin-top: 35px;
    }
    &__link {
        @include flex(row, center);
        text-decoration: none;
        font-size: 2rem;
        color: $primary;
        font-weight: 500;
        & svg {
            width: 35px;
            height: 18px;
            flex-shrink: 0;
            margin-left: 15px;
        }
        &:hover {
            opacity: .85;
        }
    }
    &__navigation, &__pagination {
        margin-left: auto;
        width: auto !important;
    }
    &__img {
        border-radius: $media-swiper-img-br;
    }
    &__instance {
        width: 100%;
        max-width: 400px;
        margin: 0;
        overflow: visible;
        & .swiper-wrapper {
            height: 360px;
            transform-style: initial;
        }
        &.swiper-3d {
            & .swiper-slide-shadow {
                display: none;
            }
        }
        &-slide {
            &.swiper-slide {
                position: absolute;
                width: 100% !important;
                top: 0;
                left: 0;
                right: 0;
                transform-style: initial;
                transform-origin: 50%;
                transform: translateX(0) rotate(0) !important;
                transition: opacity .25s ease, transform .35s ease;
                z-index: -5;
            }
            &.swiper-slide-active {
                opacity: 1 !important;
                z-index: 1 !important;
                transform: translateX(0) rotate(0)!important;
            }
            &.swiper-slide-prev {
                transform: translate3d(-7rem,0,0) scale(1.25) !important;
                z-index: 2 !important;
            }
            &.swiper-slide-next {
                transform: scale(.8) translate3d(8.75rem,0,0) !important;
                opacity: 1 !important;
                z-index: 0 !important;
                & + .swiper-slide {
                    transform: scale(.64) translate3d(19.8125rem,0,0) !important;
                    opacity: 1 !important;
                    z-index: -1 !important;
                }
            }
        }
    }
}

// MEDIA
@media screen and (max-width: 991px) {
    .media-swiper {
        &__wrapper {
            padding-right: 0;
        }
        &__footer {
            margin-top: 20px;
        }
        &__link {
            font-size: 1.4rem;
            & svg {
                width: 23px;
                height: 12px;
            }
        }
    }
}