.modal {
    box-shadow: 0 3px 20px 0 rgba($full-black, .1);
    padding: 0;
    & a.close-modal {
        top: 25px;
        right: 25px;
        width: 25px;
        height: 25px;
        transition: transform .25s ease;
        background: icon('close.svg') no-repeat 50% / 25px auto;
        &:hover {
            transform: rotate(90deg);
        }
    }
    &__wrapper {
        padding: 35px 30px;
    }
    &__title {
        display: block;
        font-size: 2.4rem;
        font-weight: bold;
        color: $primary;
        line-height: 1.35;
        text-align: left;
        max-width: 350px;
        margin-bottom: 20px;
    }
    &__content {
        & p {
            margin: 0;
            font-size: 1.8rem;
            line-height: 1.55;
            color: $dark;
        }
    }
}
.blocker {
    background: rgba($full-black, .15);
}
.health-modal {
    max-width: 770px;
}
.order-modal {
    max-width: 370px;
    background: $primary-900;
    & a.close-modal {
        top: 10px;
        right: 10px;
        width: 25px;
        height: 25px;
        background: icon('close.svg') no-repeat 50% / 20px auto;
    }
    & .form {
        &__row {
            &:nth-child(n) {
                margin-bottom: 20px;
            }
        }
        &__btn {
            margin-top: 10px;
        }
    }
}
.blocker {
    z-index: 15;
}

// MEDIA
@media screen and (max-width: 991px) {
    .modal {
        & a.close-modal {
            top: 15px;
            right: 15px;
        }
        &__wrapper {
            padding-top: 50px;
        }
        &__title {
            font-size: 2rem;
        }
        &__content {
            & p {
                font-size: 1.4rem;
            }
        }
    }
}
@media screen and (max-width: 575px) {
    .order-modal {
        max-width: 100%;
        width: 100%;
    }
    .health-modal {
        max-width: 100%;
        width: 100%;
    }
}