.company-info {
    background: $secondary-930;
    &__wrapper {
        padding: 65px 0;
        padding-bottom: 50px;
    }
    &__title {
        margin: 0;
        font-size: 2.4rem;
        font-weight: 600;
        color: $primary;
        margin-bottom: 30px;
    }
    &__col {
        & p {
            margin: 0;
            font-size: 1.8rem;
            line-height: 1.55;
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
}