// VARIABLES
$about-section-form-br: 10px;

.about-section {
    &__title {
        padding-left: 70px;
    }
    &__links {
        @include flex(row, center);
        margin-top: 25px;
        & a {
            @include flex(row, center);
            font-size: 2rem;
            font-weight: 500;
            color: $primary;
            text-decoration: none;
            &:not(:last-child) {
                margin-right: 70px;
            }
            & svg {
                width: 35px;
                height: 18px;
                margin-left: 15px;
                flex-shrink: 0;
            }
            &:hover {
                opacity: .85;
            }
        }
    }
    &__number {
        margin-top: 15px;
    }
    &__form {
        padding-left: 70px;
        &-instance {
            padding: 40px;
            background: $primary-900;
            border-radius: $about-section-form-br;
        }
    }
}

// MEDIA
@media screen and (max-width: 1199px) {
    .about-section {
        &__title {
            padding-left: 0;
        }
        &__form {
            padding-left: 0;
        }
        &__col {
            &:not(:last-child) {
                margin-bottom: 0;
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .about-section {
        &__links {
            margin-top: 20px;
            & a {
                font-size: 1.4rem;
                &:not(:last-child) {
                    margin-right: 45px;
                }
                & svg {
                    width: 23px;
                    height: 12px;
                }
            }
        }
        &__form {
            &-instance {
                padding: 35px 40px;
            }
        }
    }
}
@media screen and (max-width: 575px) {
    .about-section {
        &__form {
            &-instance {
                padding: 35px 20px;
            }
        }
    }
}
@media screen and (max-width: 413px) {
    .about-section {
        &__links {
            & a {
                font-size: 1.3rem;
                &:not(:last-child) {
                    margin-right: 35px;
                }
                & svg {
                    margin-left: 10px;
                }
            }
        }
    }
}