.get-help-template {
    &__wrapper {
        padding-bottom: 70px;
    }
    &__col {
        &-title {
            display: block;
            font-size: 2.4rem;
            font-weight: 600;
            color: $primary;
            margin-bottom: 30px;
        }
        &-content {
            & p {
                margin: 0;
                font-size: 1.8rem;
                line-height: 1.45;
            }
        }
    }
    &__docs {
        margin-top: 50px;
        &-item {
            @include flex(row, center);
            position: relative;
            text-decoration: none;
            font-size: 2rem;
            color: $primary;
            font-weight: 500;
            padding-left: 0;
            &::before {
                content: '';
                display: block;
                width: 70px;
                height: 86px;
                flex-shrink: 0;
                margin-right: 30px;
                background: icon('doc.svg') no-repeat 50% / 70px auto;
            }
            &:not(:last-child) {
                margin-bottom: 35px;
            }
        }
    }
    &__info {
        & p {
            margin: 0;
            font-size: 1.8rem;
            line-height: 1.45;
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
        & a {
            text-decoration: none;
            color: $black;
            &:hover {
                opacity: .85;
            }
        }
    }
}

// MEDIA
@media screen and (max-width: 1199px) {
    .get-help-template {
        &__col {
            &:not(:last-child) {
                margin-bottom: 35px;
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .get-help-template {
        &__wrapper {
            padding-bottom: 50px;
        }
        &__col {
            &-title {
                font-size: 2rem;
                margin-bottom: 20px;
            }
            &-content {
                & p {
                    font-size: 1.4rem;
                }
            }
        }
        &__docs {
            margin-top: 30px;
            &-item {
                font-size: 1.4rem;
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
                &::before {
                    width: 50px;
                    height: 61px;
                    background-size: 50px auto;
                    margin-right: 20px;
                }
            }
        }
        &__info {
            & p {
                font-size: 1.4rem;
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}