// VARIABLES
$header-options-link-br: 6px;

.header {
    padding: 20px 0;
    &__options {
        @include flex(row, center, flex-end);
        &-link {
            text-decoration: none;
            font-size: 1.8rem;
            font-weight: 900;
            text-transform: uppercase;
            margin-right: 5px;
            color: $primary;
            padding: .65em 1em;
            border-radius: $header-options-link-br;
            &:hover {
                background: $primary;
                color: $white;
            }
            &_is {
                &-colored {
                    color: $secondary;
                    &:hover {
                        background: $secondary;
                        color: $white;
                    }
                }
            }
        }
    }
    &__lang {
        margin-left: 15px;
    }
    &__logo {
        display: block;
    }
    &__navigation {
        margin-top: 25px;
    }
    &_is {
        &-sticky {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 10;
        }
    }
    &:not(.header_is-sticky) {
        border-bottom: 1px solid $secondary-900;
        & .lang {
            &__link {
                background: $secondary-950;
            }
        }
    }
}