// VARIABLES
$swiper-slide-br: 10px;

.help-section {
    &__header {
        margin-bottom: 20px;
    }
    &__title {
        margin: 0;
    }
    &__swiper {
        padding: 15px 0;
        & .swiper-wrapper {
            align-items: stretch;
        }
    }
    &__swiper {
        &-slide {
            height: auto;
            max-width: 445px;
            padding: 0 7.5px;
            box-shadow: 0 2px 15px 0 rgba($full-black, .1);
            border-radius: $swiper-slide-br;
        }
    }
}

// MEDIA
@media screen and (max-width: 991px) {
    .help-section {
        &__wrapper {
            padding-bottom: 50px;
        }
        &__swiper {
            &-slide {
                max-width: 690px;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .help-section {
        &__swiper {
            &-slide {
                max-width: 540px;
            }
        }
    }
}
@media screen and (max-width: 575px) {
    .help-section {
        &__swiper {
            padding: 15px;
            &-slide {
                max-width: auto;
            }
        }
    }
}