.hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 80%;
    &__title {
        font-size: 3.7rem;
        font-weight: 600;
        color: $primary;
        line-height: 1.45;
        margin: 0;
    }
    &__desc {
        & p {
            margin: 0;
            font-size: 2.8rem;
            line-height: 1.45;
            font-weight: 500;
            color: $primary;
            letter-spacing: .008em;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
    &__wrapper {
        padding: 220px 0;
        padding-bottom: 110px;
    }
    &__footer {
        @include flex(row, center);
        margin-top: 55px;
    }
    &__btn {
        &:not(:last-child) {
            margin-right: 35px;
        }
    }
}

// MEDIA
@media screen and (max-width: 1199px) {
    .hero {
        background-position: 50% 10%;
    }
}
@media screen and (max-width: 991px) {
    .hero {
        background-position: 70%;
        &__wrapper {
            padding: 115px 0;
            padding-bottom: 25px;
        }
        &__footer {
            margin-top: 175px;
        }
        &__title {
            font-size: 2.5rem;
        }
        &__desc {
            & p {
                font-size: 1.9rem;
                max-width: 350px;
            }
        }
        &__btn {
            &.btn {
                border-radius: 5px;
            }
            &:not(:last-child) {
                margin-right: 25px;
            }
        }
    }
}