.make-help-template {
    &__col {
        &-title {
            display: block;
            margin-bottom: 30px;
            font-size: 1.8rem;
            color: $dark-600;
        }
        &:first-child {
            padding-right: 30px;
        }
    }
    &__icons {
        @include flex(row, center);
        &:not(:last-child) {
            margin-bottom: 50px;
        }
        & img {
            &:not(:last-child) {
                margin-right: 30px;
            }
        }
    }
    &__links {
        @include flex(column);
        margin-bottom: 45px;
        &-content {
            display: none;
            margin-bottom: 20px;
            & p {
                margin: 0;
                font-size: 1.8rem;
                line-height: 1.45;
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
        }
        & button {
            font-size: 2rem;
            font-weight: 500;
            color: $primary;
            &:hover {
                opacity: .85;
            }
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
    &__details {
        margin-top: 70px;
        & p {
            margin: 0;
            font-size: 1.8rem;
            line-height: 1.45;
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
}

// MEDIA
@media screen and (max-width: 1199px) {
    .make-help-template {
        &__col {
            &:not(:last-child) {
                margin-bottom: 35px;
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .make-help-template {
        &__col {
            &-title {
                margin-bottom: 20px;
                font-size: 1.6rem;
            }
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
        &__links {
            margin-bottom: 10px;
            & button {
                font-size: 1.6rem;
            }
            &-content {
                & p {
                    font-size: 1.4rem;
                }
            }
        }
        &__icons {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
        &__details {
            margin-top: 30px;
            & p, a {
                font-size: 1.4rem;
            }
            & p {
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}