.news-template {
    &__list {
        &-col {
            margin-bottom: 50px;
        }
        &-item {
            height: 100%;
        }
    }
}

// MEDIA
@media screen and (max-width: 991px) {
    .news-template {
        &__list {
            &-col {
                margin-bottom: 30px;
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}