.template {
    &__wrapper {
        padding: 40px 0;
        padding-bottom: 70px;
    }
    &__breadcrumbs {
        margin-bottom: 10px;
    }
    &__title {
        margin: 0;
        font-size: 3.7rem;
        color: $primary;
    }
    &__grid {
        margin-top: 35px;
        &-link {
            @include flex(row, center);
            font-size: 2rem;
            font-weight: 500;
            color: $primary;
            text-decoration: none;
            margin-top: 45px;
            & svg {
                flex-shrink: 0;
                margin-right: 15px;
            }
        }
    }
    &__note {
        display: block;
        font-weight: 500;
        color: $primary;
        font-size: 2rem;
        margin-top: 15px;
    }
    &__content {
        & p {
            margin: 0;
            font-size: 1.8rem;
            line-height: 1.55;
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
}