// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: 'GothamPro';
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$black: #444;
$full-black: #000;
$primary: #612B69;
$primary-900: #EDF0FD;
$primary-850: #FAF9F9;
$primary-800: #CED3EB;
$secondary: #F28314;
$secondary-900: #EDE2D8;
$dark: #4E3434;
$dark-700: #6E6161;
$dark-600: #867878;
